@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<br />
<div>
    <!--Posts picture of Joel with the title-->
    <center><img src="~/JoelHilton.jpg" alt="Joel Hilton" /></center>
    <br />
</div>
